{% extends "base.html" %}

{% block navbar %}
    <li class="btn btn-default pull-right" role="presentation">
      <a id="id_new_game" href="{% url 'new_game' %}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        New Game
      </a>
    </li>
    <li class="btn btn-default pull-right" role="presentation">
      <a id="id_survey_list" href="{% url 'survey_list' %}">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        Surveys
      </a>
    </li>
    <li class="btn btn-default pull-right" role="presentation">
      <a id="id_survey_list" href="{% url 'transcribe_list' %}">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        Transcriptions
      </a>
    </li>
{% endblock navbar %}

{% block jumbotron %}

    {{ block.super }}

    <ul id="id_game_list" class="list-group" style="text-align: center;">

        {% for game in game_list %}
        <li class="list-group-item">

            <h2> {{ game }} </h2>

            <a class="btn btn-default play" href="{% url 'play' pk=game.pk %}">
                <span class="glyphicon glyphicon-play"></span> Play
            </a>

            <a class="btn btn-default inspect" href="{% url 'inspect' pk=game.pk %}">
                <span class="glyphicon glyphicon-eye-open"></span> Inspect
            </a>

        </li>
        {% endfor %}
    </ul>

{% endblock jumbotron %}
