{% extends "base.html" %}
{% load static %}

{% block styling %}
    <link href="{% static "grunt/css/recorder.css" %}" rel="stylesheet" type="text/css">
{% endblock styling %}

{% block jumbotron %}

  {{ block.super }}

  <div id="alert" class="alert alert-dismissible" role="alert">
  </div>

  {% include "grunt/_player.html" %}

{% endblock jumbotron %}

{% block javascript %}
    <script src="{% static 'underscore/underscore-min.js' %}" type="text/Javascript"></script>
    <script src="{% static 'backbone/backbone.js' %}" type="text/Javascript"></script>
    <script src="{% static 'SoundManager2/script/soundmanager2.js' %}" type="text/JavaScript"></script>
    <script src="{% static 'grunt/js/recorderjs/recorder.js' %}" type="text/Javascript"></script>
    <script src="{% static 'grunt/js/ajax.js' %}" type="text/Javascript"></script>
    <script src="{% static 'grunt/js/telephone.js' %}" type="text/Javascript"></script>
    <script>
window.AudioContext = window.AudioContext || window.webkitAudioContext;
var audioContext = new AudioContext();

var Message = MessageBase.extend({
  url: "{% url 'switchboard' pk=game.pk %}"
});

var message = new Message(),
    telephoneView = new TelephoneView({model: message});

var config = {
  workerPath: "{% static 'grunt/js/recorderjs/recorderWorker.js' %}",
  callback: function (blob) {
    var messageData = {"parent": message.get("id"), "audio": blob},
        options = {wait: true, success: seeIfDone, error: showRecorderError};
    message.unset("id");
    message.save(messageData, options);
  }
};

soundManager.setup({
  url: "{% static 'SoundManager2/swf' %}",
  debugMode: true,
  flashVersion: 9,
  onready: function() {
    message.fetch();
  }
});
    </script>
{% endblock javascript %}
