{% extends "base.html" %}
{% load static %}

{% block styling %}
    <link href="{% static "grunt/css/recorder.css" %}" rel="stylesheet" type="text/css">
{% endblock styling %}

{% block jumbotron %}

  {{ block.super }}

  {% include "grunt/_player.html" %}

{% endblock jumbotron %}

{% block javascript %}
    <script src="{% static 'underscore/underscore-min.js' %}" type="text/Javascript"></script>
    <script src="{% static 'backbone/backbone.js' %}" type="text/Javascript"></script>
    <script src="{% static 'grunt/js/recorderjs/recorder.js' %}" type="text/Javascript"></script>
    <script src="{% static 'grunt/js/ajax.js' %}" type="text/Javascript"></script>
    <script src="{% static 'grunt/js/telephone.js' %}" type="text/Javascript"></script>
    <script>
window.AudioContext = window.AudioContext || window.webkitAudioContext;
var audioContext = new AudioContext();

var Telephone = TelephoneBase.extend({
  url: "{% url 'switchboard' pk=game.pk %}"
});

var telephone = new Telephone(),
    telephoneView = new TelephoneView({model: telephone});

var config = {
  workerPath: "{% static 'grunt/js/recorderjs/recorderWorker.js' %}",
  callback: function (blob) {
    telephone.save({"recording": blob});
  }
};

telephone.fetch();
    </script>
{% endblock javascript %}
