/* Game tree styles */

.overlay {
  fill: none;
  pointer-events: all;
  z-index: -1;
}

svg.tree {
  background-color: #F0F0F0;
  position: absolute;
  z-index: 0;
}

.node circle {
  stroke-width: 1.5px;
  fill: #bababa;
  stroke: #bababa;
}

.node circle.alive {
  fill: #66c2a5;
  stroke: #66c2a5;
}

.node circle.done {
  fill: #8da0cb;
  stroke: #8da0cb;
}

.node cirle.dead {
  fill: #bababa;
  stroke: #bababa;
}

.node circle.highlight {
  fill: #fc8d62;
  stroke: #fc8d62;
  stroke-width: 2.5px;
}

.node text {
  font: 10px sans-serif;
}

.node text.chain {
  font: 14px sans-serif;
}

.node text.message {
  fill: white;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}


/* Message visual editor styles */

div.message-details {
  background-color: #F0F0F0;
  opacity: 0.8;
  position: absolute;
  z-index: 1;
  margin-left: 20px;
}

svg.focus {
  margin-top: 7px;
  margin-bottom: 10px;
}

.playbar.border {
  fill: #3a3a3a;
  fill-opacity: 0.3;
  stroke: #ccc;
  stroke-width: 2px;
}

.time-axis {
  shape-rendering: crispEdges;
}

.time-axis line {
  fill: none;
  stroke: #000;
}

.time-axis .minor {
  stroke-opacity: .5;
}

.time-axis path {
  display: none;
}

.brush .extent {
  fill: #29ec66;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.playbar.scale.background {
  fill: #FFF;
  stroke: #ccc;
  stroke-width: 2px;
}
