/* Game tree styles */

svg.tree {
  background-color: #F0F0F0;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node circle.highlight {
  fill: steelblue;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}


/* Message visual editor styles */

svg.focus {
  margin-top: 7px;
  margin-bottom: 10px;
}

.playbar.border {
  fill: #3a3a3a;
  fill-opacity: 0.3;
  stroke: #ccc;
  stroke-width: 2px;
}

.time-axis {
  shape-rendering: crispEdges;
}

.time-axis line {
  fill: none;
  stroke: #000;
}

.time-axis .minor {
  stroke-opacity: .5;
}

.time-axis path {
  display: none;
}

.brush .extent {
  fill: #29ec66;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.playbar.scale.background {
  fill: #FFF;
  stroke: #ccc;
  stroke-width: 2px;
}

/*circle {
    stroke: black;
    stroke-width: 2px;
}

g.filled > circle {
    fill: blue;
}
g.empty > circle {
    fill: white;
}

g.filled > circle.active {
  fill: black;
}

g.filled > circle:hover {
  fill: black;
}

text {
  fill: gray;
}

text:hover {
  fill: black;
}

g.filled > text.label {
  fill: white;
}

g.empty > text.label {
  fill: black;
}
*/
