{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block jumbotron %}

    <h1>Question</h1>

    {% crispy form form.helper %}

{% endblock jumbotron %}

{% block javascript %}
  <script src="{% static 'd3/d3.min.js' %}" type="text/JavaScript"></script>
  <script src="{% static 'soundmanager2/script/soundmanager2.js' %}"></script>
  <script src="{% static 'ratings/survey.js' %}" type="text/JavaScript"></script>
  <script>
soundManager.setup({
  onready: function () {
    var radios = d3.selectAll("label.radio-inline");
    radios
      .each(function (choice) {
        console.log(choice.audio);
        soundManager.createSound({
          id: 'message-'+choice.pk,
          url: choice.audio
        });
      });
  }
})
$(function () {
  var choices = {{ question.choices_as_json | safe }};

  var radios = d3.selectAll("label.radio-inline");

  radios
    .data(choices);

  var play_message = function (choice) {
    console.log("playing message " + choice.pk);
    soundManager.play('message-'+choice.pk);
  }

  radios
    .on("mouseover", play_message);
});

  </script>
{% endblock javascript %}
