{% extends "base.html" %}
{% load static %}


{% block styling %}
  <link href="{% static 'inspector/css/inspect.css' %}" rel="stylesheet">
{% endblock styling %}


{% block navbar %}
    <li class="btn btn-default pull-right" role="presentation">
      <a id="id_games_list" href="{% url 'games_list' %}">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        All Games
      </a>
    </li>
{% endblock navbar %}


{% block body %}
  <div class="game-tree">

      <h1>{{ game }}</h1>

      <div class="message-details"></div>

      <svg class="tree">
      </svg>

  </div>
{% endblock body %}

{% block javascript %}
  <script>
    // Load CSRF config so Ajax can post to Django
    System.import("js/ajax.js");

    // Load and initialise app once soundManager is ready
    System.import('soundmanager2').then(function () {
      soundManager.setup({
        onready: function() {
          System.import('inspector/js/app.js');
        }
      });
    });
  </script>
{% endblock javascript %}
