{% extends "base.html" %}
{% load static %}


{% block styling %}
  <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'inspector/css/inspect.css' %}" rel="stylesheet">
{% endblock styling %}


{% block navbar %}
    <li class="btn btn-default pull-right" role="presentation">
      <a id="id_games_list" href="{% url 'games_list' %}">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        All Games
      </a>
    </li>
{% endblock navbar %}


{% block body %}
  <div class="game-tree">

      <h1>{{ game }}</h1>

      <svg class="tree">
      </svg>

      <div class="message-details"></div>

  </div>
{% endblock body %}

{% block javascript %}
  <script src="{% static 'colorbrewer/colorbrewer.js' %}" type="text/JavaScript"></script>
  <script src="{% static 'SoundManager2/script/soundmanager2.js' %}" type="text/JavaScript"></script>
  <script src="{% static 'grunt/js/ajax.js' %}" type="text/javascript"></script>
  <script src="{% static 'jspm_packages/system.js' %}" type="text/javascript"></script>
  <script src="{% static 'config.js' %}" type="text/javascript"></script>

  <script>

    // Load and initialise app once soundManager is ready
    soundManager.setup({
      url: "{% static 'SoundManager2/swf' %}",
      debugMode: false,
      onready: function() {
        System.import('inspector/js/app.js');
      }
    });

  </script>
{% endblock javascript %}
