{% extends "base.html" %}
{% load static %}


{% block styling %}
  <link href="{% static 'inspector/css/inspect.css' %}" rel="stylesheet">
{% endblock styling %}

{% block body %}
  <svg class="focus">
  </svg>
  <svg class="tree">
  </svg>
{% endblock body %}

{% block javascript %}
  <script src="{% static 'd3/d3.min.js' %}" type="text/JavaScript"></script>
  <script src="{% static 'colorbrewer/colorbrewer.js' %}" type="text/JavaScript"></script>
  <script src="{% static 'underscore/underscore-min.js' %}" type="text/JavaScript"></script>
  <script src="{% static 'grunt/js/ajax.js' %}" type="text/javascript"></script>
  <script src="{% static 'inspector/js/inspect.js' %}" type="text/JavaScript"></script>
  <script>
var gameTree = {{ game_tree | safe }};
drawMessageTree(gameTree);
  </script>
{% endblock javascript %}
