{% extends "base.html" %}
{% load static %}


{% block styling %}
  <link href="{% static 'inspector/css/inspect.css' %}" rel="stylesheet">
{% endblock styling %}

{% block body %}
  <svg>
  </svg>
{% endblock body %}

{% block javascript %}
  <script src="{% static 'd3/d3.min.js' %}" type="text/JavaScript"></script>
  <script src="{% static 'colorbrewer/colorbrewer.js' %}" type="text/JavaScript"></script>
  <script src="{% static 'underscore/underscore-min.js' %}" type="text/JavaScript"></script>
  <script src="{% static 'grunt/js/ajax.js' %}" type="text/javascript"></script>
  <script src="{% static 'inspector/js/inspect.js' %}" type="text/JavaScript"></script>
  <script>
var margin = {top: 20, right: 120, bottom: 20, left: 120},
    width = 960 - margin.right - margin.left,
    height = 800 - margin.top - margin.bottom;

// Counter for node ids
var i = 0;

var gameTree = {{ game_tree | safe }};

var tree = d3.layout.tree()
  .size([height, width])
  .children(determineChildren);

var diagonal = d3.svg.diagonal()
  .projection(function (node) { return [node.y, node.x]; });

var svg = d3.select("svg")
  .attr("width", width + margin.right + margin.left)
  .attr("height", height + margin.top + margin.bottom)
  .append("g")
  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

function determineChildren(node) {
  return node.chains || node.messageTree || node.children ;
}

function drawMessageTree(nestedData) {
  var nodes = tree.nodes(nestedData),
      links = tree.links(nodes);

  nodes.forEach(function(d) { d.y = d.depth * 180; });

  var node = svg.selectAll("g.node")
    .data(nodes, function(node) { return node.nid || (node.nid = ++i); });

  var nodeEnter = node.enter()
    .append("g")
    .attr("class", "node")
    .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

  nodeEnter.append("circle")
    .attr("r", 5);

  nodeEnter.append("text")
    .attr("x", -10)
    .attr("dy", ".35em")
    .attr("text-anchor", "end")
    .text(function(d) { return d.name || d.generation; });

  var link = svg.selectAll("path.link")
      .data(links, function(d) { return d.target.nid; });

  link.enter().insert("path", "g")
    .attr("class", "link")
    .attr("d", diagonal);
}

function buildTree(chain) {
    var seedMessage = _.findWhere(chain.messages, {generation: 0});

    function findChildren(message) {
      var children = _.where(chain.messages, {parent: message.id});
      if (children) {
        message.children = children;
        message.children.forEach(findChildren);
      }
    }

    findChildren(seedMessage);

    chain.messageTree = [seedMessage];
}

gameTree.chains.forEach(buildTree);
drawMessageTree(gameTree);
  </script>
{% endblock javascript %}
